{% extends 'base.html.twig' %}

{% block title %}TuiDoc | FAQ{% endblock %}

{% block body %}


<div class="page-header" style="background: url(/assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title"> FAQ</h2>
                    <ol class="breadcrumb">
                        <li><a href="{{ path('main_route') }}">Accueil /</a></li> 
                        <li class="current">FAQ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section-padding">
    <div class="container">

        <div class="product-info row">
  

            <div class="col-12">

                <h6>FAQ's</h6>
                <div class="row">
 


                    

                </div>
            </div>


        </div>

    </div>
</div>





{% endblock %}