{% extends 'base.html.twig' %}

{% block title %}TuiDoc | mot de passe oublié?{% endblock %}

{% block body %}


<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Mot de passe oublié?</h2>
                    <ol class="breadcrumb">
                        <li><a href="{{ path('main_route') }}">Home /</a></li>
                        <li class="current">Mot de passe oublié?</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="login section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-xs-12">
                <div class="login-form login-area">
                    <h3>
                        Mot de passe oublié?
                    </h3>
                    <form role="form" class="login-form" method="post">
                         
                        <div class="form-group">
                            <p class="">
                                Veuillez fournir un nouveau mot de passe
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-user"></i>
                                <input type="text" name="new-password" placeholder="Nouveau mot de passe"  class="form-control"   required>
                            </div>
                        </div>
                         
                        <div class="text-center">
                            <button class="btn btn-common log-btn btn-block mt-3">Enregistrer</button>
                        </div>

                        {% if errorMessage != '' %}
                        <div class="alert alert-danger mt-3">
                            {{ errorMessage }}
                        </div>
                    {% endif %}

                    {% if successMessage != '' %}
                        <div class="alert alert-success mt-3">
                            {{ successMessage }}
                        </div>
                    {% endif %}

                    
                         

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


 

{% endblock %}
