#contract-zone p > span{
    transition: all 0.5s ease-in-out;
}

#contract-zone{
    font-family: sans-serif;
    height: 100vh;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 15px;
}

.animate-feild{
    
    background-color: #ffc10752;
}

.contract-step.hidden{
    display: none;
}

.avatar-user{
    position: relative;
}

.avatar-user > i {
    color: #f8f9fa;
    background-color: #444;
    padding: 7px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
 }


 .profile-picture{
     width: 80px;
     height: 80px;
     background-color: rgb(202, 202, 202);
     background-position: center;
     background-size: cover;
     border-radius: 50%;
 }


 .avatar-user{
     width: 80px;
     height: 80px;
 }

 .home-bloc{
     cursor: pointer;
 }