<form method="post" action="{{ path('contract_page_property_delete', {'id': contract_page_property.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contract_page_property.id) }}">
    <button class="btn">Delete</button>
</form>
